.direito{
	width: 10%;
	height: 774px;
	background-color: white;
	float: right;
}
.central{
	width: 90%;
	height: 774px;
	background-color: #F4A460;
	float: right;
}
.barra{
	width: 100%;
	height: 100px;
	background-color: #F4A460;
	font-family: Algerian;
	text-align: center;
	font-size: 100px;
}
.esquerdo{
	width: 10%;
	height: 774px;
	background-color: white;
	float: left;
}